Repository xoeye/gps-metadata-remover, pull requests merged in 2021-06, with the labels that each got.

#6 feat: remove logs
  .babelrc
  .gitignore
  package.json
  yarn.lock
Labels: dependencies, good first issue

#9 feat: Make xmp removal optional
  README.md
  src/gpsRemoverHelpers.js
  src/imageGpsExifRemover.js
  src/index.js
  src/videoGpsMetadataRemover.js
Labels: core, documentation

#14 chore: release 1.1.0
  CHANGES.md
  SECURITY.md
  package.json
Labels: core, dependencies, documentation, internal
